---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 1000px;
				margin: 0 auto;
			}
			.cv-content {
				padding: 2em 1em;
				color: rgb(var(--gray-dark));
			}
			.cv-content :global(h1), .cv-content :global(h2), .cv-content :global(h3) {
				margin-top: 1.5em;
				color: rgb(var(--black));
			}
			.cv-content :global(img) {
				max-width: 100%;
				border-radius: 6px;
			}
			.cv-content :global(table) {
				width: 100%;
				border-collapse: collapse;
				margin-top: 1em;
			}
			.cv-content :global(td) {
				padding: 1em;
				vertical-align: top;
			}
            .cv-content :global(a) {
                color: #0e75b6;
                text-decoration: none;
            }
            .cv-content :global(a:hover) {
                text-decoration: underline;
            }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article class="cv-content">
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>